.form__input {
  width: 80%;
}

.mat-input-element {
  font-size: medium;
  font-weight: 200;
}

.fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
}
.documents {
  .form__input {
    mat-label {
      color: rgba(0, 0, 0, 0.87);
    }
    input {
      color: rgba(0, 0, 0, 0.87)
    }
  }
}

.form_done_icon {
  color: #2bcd50;
  font-size: 90px;
  height: 90px;
  width: 90px;
}
