<main class="documents" id="main" *ngIf="!formDone">

  <section class="page-header">
    <div class="page-header__top">
      <h2 class="page-header__title title">
        <span *ngIf="currentUser?.completed">Документы</span>
        <span *ngIf="!currentUser?.completed">Добавить информацию</span>
      </h2>
    </div>
  </section>
  <section *ngIf="currentUser?.completed && !currentUser?.rejected">
    <form #form="ngForm">

      <div class="tw-grid tw-gap-5 xl:tw-grid-cols-2">
        <div class="view__list">
          <p class="tw-flex tw-justify-between" [style.color]="data.email ? 'black' : 'red'">
            <span>Электронная почта:</span>
            <span>{{ data.email ? data.email : 'Не введен' }}</span>
          </p>
          <p class="tw-flex tw-justify-between" [style.color]="data.companyName ? 'black' : 'red'">
            <span>Название компании:</span>
            <span>{{data.companyName ? data.companyName : 'Не введен'}}</span>
          </p>

          <p class="tw-flex tw-justify-between" [style.color]="data.supervisorFirstName ? 'black' : 'red'">
            <span>Имя руководителя: </span>
            <span>{{data.supervisorFirstName ? data.supervisorFirstName : 'Не введен'}}</span>
          </p>

          <p class="tw-flex tw-justify-between" [style.color]="data.supervisorLastName ? 'black' : 'red'">
            <span>Фамилия руководителя: </span>
            <span>{{data.supervisorLastName ? data.supervisorLastName : 'Не введен'}}</span>
          </p>

          <p class="tw-flex tw-justify-between" [style.color]="data.supervisorLastName ? 'black' : 'red'">
            <span>Имя ответственного лица: </span>
            <span>{{data.responsiblePersonFistName ? data.responsiblePersonFistName : 'Не введен'}}</span>
          </p>

          <p class="tw-flex tw-justify-between" [style.color]="data.supervisorLastName ? 'black' : 'red'">
            <span>Фамилия ответственного лица: </span>
            <span>{{data.responsiblePersonLastName ? data.responsiblePersonLastName : 'Не введен'}}</span>
          </p>

          <p class="tw-flex tw-justify-between" [style.color]="data.bankName ? 'black' : 'red'">
            <span>Наименование банка: </span>
            <span>{{data.bankName ? data.bankName : 'Не введен'}}</span>
          </p>
        </div>
        <div class="view__list">
          <p class="tw-flex tw-justify-between" [style.color]="data.inn ? 'black' : 'red'">
            <span>ИНН:</span>
            <span>{{data.inn ? data.inn : 'Не введен'}}</span>
          </p>
          <p class="tw-flex tw-justify-between" [style.color]="data.oked ? 'black' : 'red'">
            <span>ОКЭД:</span>
            <span>{{data.oked ? data.oked : 'Не введен' }}</span>
          </p>
          <p class="tw-flex tw-justify-between" [style.color]="data.mfo ? 'black' : 'red'">
            <span>МФО:</span>
            <span>{{data.mfo ? data.mfo : 'Не введен' }}</span>
          </p>
          <p class="tw-flex tw-justify-between" [style.color]="data.dunsNumber ? 'black' : 'red'">
            <span>DUNS номер:</span>
            <span class="cursor-pointer">{{data.dunsNumber ? data.dunsNumber : 'Не введен' }}</span>
          </p>
          <p class="tw-flex tw-justify-between" [style.color]="data.notes ? 'black' : 'red'">
            <span>Заметки: </span>
            <span>{{data.notes ? data.notes : 'Не введен' }}</span>
          </p>

          <p class="tw-flex tw-justify-between"
            [style.color]="data.phoneNumber ? 'black' : 'red'">
            <span>Телефон: </span>
            <span>{{data.phoneNumber ? data.phoneNumber : 'Не введен' }}</span>
          </p>
          <p class="tw-flex tw-justify-between" [style.color]="data.legalAddress ? 'black' : 'red'">
            <span>Юридический адрес: </span>
            <span>{{data.legalAddress ? data.legalAddress : 'Не введен' }}</span>
          </p>
          <p class="tw-flex tw-justify-between" [style.color]="data.factAddress ? 'black' : 'red'">
            <span>Фактический адрес: </span>
            <span>{{data.factAddress ? data.factAddress : 'Не введен' }}</span>
          </p>
          <p class="tw-flex tw-justify-between" *ngFor="let account of data.bankAccounts"
            [style.color]="data.bankAccounts ? 'black' : 'red'">
            <span>Расчетный счет: </span>
            <span>{{account.account ? account.account : 'Не введен' }} ({{account.currencyName ? account.currencyName :
              ''}})</span>
          </p>

        </div>
      </div>

      <div style="display: flex;">
        <mat-card class="example-card" style="margin: 20px; margin-left: 0;">
          <div style="padding: 10px;"> <b>Логотип</b> </div>
          <img *ngIf="data.logoFilePath" mat-card-image [src]="fileApi+data.logoFilePath" alt="Photo of logo"
            width="300">
          <p *ngIf="!data.logoFilePath" style="color: red;padding: 10px"><b>Не введен</b></p>
        </mat-card>

        <mat-card class="example-card" style="margin: 20px">
          <div style="padding: 10px;"> <b>Паспорт</b> </div>
          <img *ngIf="data.passportFilePath" mat-card-image [src]="fileApi+data.passportFilePath"
            alt="Photo of passport" width="300">
          <p *ngIf="!data.passportFilePath" style="color: red;padding: 10px"><b>Не введен</b></p>

        </mat-card>

        <mat-card class="example-card" style="margin: 20px">
          <div style="padding: 10px;"> <b>Регистрационное свидетельство</b> </div>
          <img *ngIf="data.registrationCertificateFilePath" mat-card-image
            [src]="fileApi+data.registrationCertificateFilePath" alt="Photo of `registration Certificate" width="300">
          <p *ngIf="!data.registrationCertificateFilePath" style="color: red;padding: 10px"><b>Не введен</b></p>
        </mat-card>
      </div>
    </form>
  </section>

  <section *ngIf="!currentUser?.completed || currentUser?.rejected">
    <form #form="ngForm">
      <div class="form" style="display: flex; gap:10px">
        <div style="width: 100%;">

          <div class="dynamic-inputs-wrapper">
            <div class="dynamic-inputs">
              <mat-form-field class="form__input">
                <mat-label>Имя руководителя</mat-label>
                <input matInput required name="supervisorFirstName" [(ngModel)]="data.supervisorFirstName"
                  #supervisorFirstName="ngModel" />
                <span style="margin-left: 0; color: red;"
                  *ngIf="supervisorFirstName.invalid && (supervisorFirstName.dirty || supervisorFirstName.touched)">
                  Обязательное поле </span>
              </mat-form-field>
            </div>
          </div>

          <div class="dynamic-inputs-wrapper">
            <div class="dynamic-inputs">
              <mat-form-field class="form__input">
                <mat-label>Фамилия руководителя </mat-label>
                <input matInput required name="supervisorLastName" [(ngModel)]="data.supervisorLastName"
                  #supervisorLastName="ngModel" />
                <span style="margin-left: 0; color: red;"
                  *ngIf="supervisorLastName.invalid && (supervisorLastName.dirty || supervisorLastName.touched)">
                  Обязательное поле </span>
              </mat-form-field>
            </div>
          </div>

          <div class="dynamic-inputs-wrapper">
            <div class="dynamic-inputs">
              <mat-form-field class="form__input">
                <mat-label>Имя Ответственного лица</mat-label>
                <input matInput required name="responsiblePersonFistName" [(ngModel)]="data.responsiblePersonFistName"
                  #responsiblePersonFistName="ngModel" />
                <span style="margin-left: 0; color: red;"
                  *ngIf="responsiblePersonFistName.invalid && (responsiblePersonFistName.dirty || responsiblePersonFistName.touched)">
                  Обязательное поле </span>
              </mat-form-field>
            </div>
          </div>

          <div class="dynamic-inputs-wrapper">
            <div class="dynamic-inputs">
              <mat-form-field class="form__input">
                <mat-label>Фамилия Ответственного лица</mat-label>
                <input matInput required name="responsiblePersonLastName" [(ngModel)]="data.responsiblePersonLastName"
                  #responsiblePersonLastName="ngModel" />
                <span style="margin-left: 0; color: red;"
                  *ngIf="responsiblePersonLastName.invalid && (responsiblePersonLastName.dirty || responsiblePersonLastName.touched)">
                  Обязательное поле </span>
              </mat-form-field>
            </div>
          </div>

          <div class="dynamic-inputs-wrapper">
            <div class="dynamic-inputs" style="align-items: center">
              <mat-form-field class="form__input">
                <mat-label>Расчетный счет</mat-label>
                <input required matInput type="text" name="bankAccounts" [(ngModel)]="data.bankAccounts"
                  #bankAccounts="ngModel" mask="99999999999999999999" />
                <mat-icon matSuffix *ngIf="!bankAccountCurrency" (click)="bankAccountCurrency = true">add</mat-icon>
                <span style="margin-left: 0; color: red;"
                  *ngIf="bankAccounts.invalid && (bankAccounts.dirty || bankAccounts.touched)"> Обязательное поле
                </span>
              </mat-form-field>
              <mat-select class="form__input select-currency" name="currency" [(ngModel)]="currency"
                style="width: 18%; margin-left: 5px;">
                <mat-option *ngFor="let currency of currencies" value="{{ currency.id }}">{{ currency.name
                  }}</mat-option>
              </mat-select>
            </div>

            <div class="dynamic-inputs" *ngIf="bankAccountCurrency">
              <mat-form-field class="form__input">
                <mat-label>Расчетный счет</mat-label>
                <input matInput type="text" name="bankAccountCurrency" [(ngModel)]="data.bankAccountCurrency"
                  mask="99999999999999999999" />
                <mat-icon matSuffix (click)="bankAccountCurrency = false">delete</mat-icon>
              </mat-form-field>
              <mat-select class="form__input" name="currency2" [(ngModel)]="currency2"
                style="width: 18%; margin-left: 5px;">
                <mat-option *ngFor="let currency of currencies" value="{{ currency.id }}">{{ currency.name
                  }}</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="dynamic-inputs-wrapper">
            <div class="dynamic-inputs">
              <mat-form-field class="form__input">
                <mat-label>Наименование банка</mat-label>
                <input matInput name="bankName" required [(ngModel)]="data.bankName" #bankName="ngModel" />
                <span style="margin-left: 0; color: red;"
                  *ngIf="bankName.invalid && (bankName.dirty || bankName.touched)">Обязательное поле</span>
              </mat-form-field>
            </div>
          </div>

            <div class="dynamic-inputs-wrapper">
              <div class="dynamic-inputs">
                <mat-form-field class="form__input">
                  <mat-label>ИНН</mat-label>
                  <input type="text" required mask="999999999" matInput name="inn" [(ngModel)]="data.inn" maxlength="9"
                    #inn="ngModel" />
                  <span style="margin-left: 0; color: red;" *ngIf="inn.invalid && (inn.dirty || inn.touched)">
                    Обязательное
                    поле </span>
                </mat-form-field>
              </div>
            </div>

            <div class="dynamic-inputs-wrapper">
              <div class="dynamic-inputs">
                <mat-form-field class="form__input">
                  <mat-label>ОКЭД</mat-label>
                  <input type="text" required mask="99999" matInput name="oked" [(ngModel)]="data.oked" maxlength="5"
                    #oked="ngModel" />
                  <span style="margin-left: 0; color: red;" *ngIf="oked.invalid && (oked.dirty || oked.touched)">
                    Обязательное поле </span>
                </mat-form-field>
              </div>
            </div>

            <div class="dynamic-inputs-wrapper">
              <div class="dynamic-inputs">
                <mat-form-field class="form__input">
                  <mat-label>МФО</mat-label>
                  <input type="text" matInput required name="mfo" [(ngModel)]="data.mfo" mask="99999" maxlength="5"
                    #mfo="ngModel" />
                  <span style="margin-left: 0; color: red;" *ngIf="mfo.invalid && (mfo.dirty || mfo.touched)">
                    Обязательное
                    поле </span>
                </mat-form-field>
              </div>
            </div>

            <div class="dynamic-inputs-wrapper">
              <div class="dynamic-inputs">
                <mat-form-field class="form__input">
                  <mat-label>DUNS номер</mat-label>
                  <input type="text" matInput name="dunsNumber" [(ngModel)]="data.dunsNumber" mask="999999999"
                    maxlength="9" />
                </mat-form-field>
              </div>
            </div>

            <div class="dynamic-inputs-wrapper">
              <div class="dynamic-inputs">
                <mat-form-field class="form__input">
                  <mat-label>IBAN номер</mat-label>
                  <input type="text" matInput name="ibanNumber" [(ngModel)]="data.ibanNumber" mask="999999999"
                    maxlength="9" />
                </mat-form-field>
              </div>
            </div>

            <div class="dynamic-inputs-wrapper">
              <div class="dynamic-inputs">
                <mat-form-field class="form__input">
                  <mat-label>Заметки</mat-label>
                  <input matInput name="notes" [(ngModel)]="data.notes" />
                </mat-form-field>
              </div>
            </div>

            <div class="dynamic-inputs-wrapper">
              <div class="dynamic-inputs">
                <mat-form-field class="form__input">
                  <mat-label>Юридический адрес</mat-label>
                  <input matInput required type="text" name="legalAddress" [(ngModel)]="data.legalAddress"
                    #legalAddress="ngModel" />
                  <span style="margin-left: 0; color: red;"
                    *ngIf="legalAddress.invalid && (legalAddress.dirty || legalAddress.touched)"> Обязательное поле
                  </span>
                </mat-form-field>
              </div>

              <div class="dynamic-inputs">
                <mat-form-field class="form__input">
                  <mat-label>Фактический адрес</mat-label>
                  <input matInput type="text" name="factAddress" [(ngModel)]="data.factAddress" />
                </mat-form-field>
              </div>
            </div>

          <button [disabled]="!form.valid" style="margin: 20px 0" class="auth__btn btn-green"
            (click)="createMerchant()">
            Завершить
          </button>
        </div>

        <div style="margin: 0 auto;width: 100%;">
          <div style="margin-left: 15px; width: 100%">
            <mat-form-field style="display: block">
              <mat-toolbar>
                <input matInput [value]="
                  selectedFileNames.length ? selectedFileNames : 'Логотип'
                " />
              </mat-toolbar>
              <input type="file" class="fileInput" name="logo" [(ngModel)]="data.logo" accept="image/*"
                (change)="selectFile($event, 'logo')" />
              <mat-icon matSuffix>file_download</mat-icon>
            </mat-form-field>
          </div>

          <div style="margin-left: 15px; width: 100%">
            <mat-form-field style="display: block">
              <mat-toolbar>
                <input matInput [value]="
                  certificateNames.length
                    ? certificateNames
                    : 'Свидетельство о регистрации'
                " />
              </mat-toolbar>

              <input type="file" class="fileInput" name="certificate_registration"
                [(ngModel)]="data.certificate_registration" accept="image/*"
                (change)="selectFile($event, 'certificate_registration')" />
              <mat-icon matSuffix>file_download</mat-icon>
            </mat-form-field>
          </div>

          <div style="margin-left: 15px; width: 100%">
            <mat-form-field style="display: block">
              <mat-toolbar>
                <input matInput [value]="
                  passportNames.length ? passportNames : 'Паспорт руководителя'
                " />
              </mat-toolbar>

              <input type="file" class="fileInput" name="supervisor_passport" [(ngModel)]="data.supervisor_passport"
                accept="image/*" (change)="selectFile($event, 'supervisor_passport')" />
              <mat-icon matSuffix>file_download</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </section>
</main>

<main *ngIf="formDone" class="auth"
  style="display: flex; justify-content: center ; align-items: center; height: 100vh;">
  <div class="auth__form form">
    <div class="form-done">
      <div style="text-align: center">
        <mat-icon class="form_done_icon" matSuffix>check_circle_outline</mat-icon>
        <h2 class="title" style="margin: 10px 0;">Ваша заявка принята на обработку</h2>
        <p>Ответ придет к вам на почту</p>
      </div>
    </div>
  </div>
</main>