<main class="states">
   <section class="page-header">
      <div class="page-header__top">
         <h2 class="page-header__title title">Страны: Регионы</h2>
         <div class="page-header__actions">
            <button class="page-header__btn btn" data-filter-open>
               Фильтр
               <i class="icm-chevron"></i>
            </button>
            <a routerLink="/add-state" class="page-header__btn btn-green">
               Добавить
            </a>
         </div>
      </div>
      <form
         class="page-header__filter filter-header form"
         data-filter-section
         hidden
      >
         <div class="filter-header__actions">
            <mat-form-field class="form__input">
               <mat-label>Поиск по ID</mat-label>
               <input matInput />
            </mat-form-field>
            <mat-form-field class="form__input">
               <mat-label>Ф.И.О</mat-label>
               <input matInput />
            </mat-form-field>
            <mat-form-field class="form__input form__select">
               <mat-label>Сначала новые</mat-label>
               <mat-select disableRipple>
                  <mat-option>- -</mat-option>
                  <mat-option [value]="1">1</mat-option>
                  <mat-option [value]="2">2</mat-option>
                  <mat-option [value]="3">3</mat-option>
                  <mat-option [value]="4">4</mat-option>
               </mat-select>
            </mat-form-field>
            <mat-form-field class="form__input form__select">
               <mat-label>Все пользователи</mat-label>
               <mat-select disableRipple>
                  <mat-option>- -</mat-option>
                  <mat-option [value]="1">1</mat-option>
                  <mat-option [value]="2">2</mat-option>
                  <mat-option [value]="3">3</mat-option>
                  <mat-option [value]="4">4</mat-option>
               </mat-select>
            </mat-form-field>
            <mat-form-field class="form__input form__select">
               <mat-label>Трек активности</mat-label>
               <mat-select disableRipple>
                  <mat-option>- -</mat-option>
                  <mat-option [value]="1">1 неделя</mat-option>
                  <mat-option [value]="2">2 неделя</mat-option>
                  <mat-option [value]="3">1 месяц</mat-option>
                  <mat-option [value]="4">2 месяц</mat-option>
                  <mat-option [value]="4">3 месяца</mat-option>
               </mat-select>
            </mat-form-field>
         </div>
         <div class="filter-header__buttons">
            <button class="filter-header__btn btn-green" type="button">
               Применить
            </button>
            <button class="filter-header__btn btn-red" type="button">
               Сбросить фильтры
            </button>
         </div>
      </form>
   </section>
   <section class="table">
      <table
         mat-table
         [dataSource]="dataSource"
         data-spollers
         data-one-spoller
         data-spollers-speed="200"
      >
         <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">
               {{ element.id }}
            </td>
         </ng-container>
         <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Наименование</th>
            <td mat-cell *matCellDef="let element">
               {{ element.name }}
            </td>
         </ng-container>
         <ng-container matColumnDef="settings_icon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
               <div class="settings-dropdown dropdown">
                  <button
                     class="icm-setting"
                     data-spoller
                     data-spoller-close
                  ></button>
                  <div class="dropdown__items">
                     <a routerLink="/add-state" class="dropdown__item">
                        Изменить
                     </a>
                     <a routerLink="/citys" class="dropdown__item"> Города </a>
                     <button class="dropdown__item">Удалить</button>
                  </div>
               </div>
            </td>
         </ng-container>
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
   </section>
</main>
