<main class="auth" *ngIf="!showChangePasswordModal">
	<div class="auth__form form">
		<p>Введите код отправленный на {{login}}</p>
		<code-input [isCodeHidden]="false" [codeLength]="6" (codeChanged)="onCodeChanged($event)"
			(codeCompleted)="onCodeCompleted($event)">
		</code-input>
		<button [disabled]="!codeEntered || loading" (click)="codeCompleted()" class="btn btn-green"
			style="margin: 20px 0 0 auto;">Подтверждать</button>
	</div>
</main>


<main class="auth" *ngIf="showChangePasswordModal">
  <div class="auth__form form">
      <h3 class="title" style="margin: 0 0 15px 0;">Изменить пароль</h3>	 
      <mat-form-field class="form__input">
          <mat-label>Введите новый пароль</mat-label>
          <input matInput type="{{ showNewPassword ? 'text' : 'password' }}" name="newPassword" [(ngModel)]="newPassword" />
          <button mat-icon-button matSuffix (click)="toggleShowNewPassword()">
              <mat-icon>{{ showNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
      </mat-form-field> 
      <mat-form-field class="form__input">
          <mat-label>Повторите пароль</mat-label>
          <input matInput type="{{ showRepeatPassword ? 'text' : 'password' }}" name="repeatPassword" [(ngModel)]="repeatPassword" />
          <button mat-icon-button matSuffix (click)="toggleShowRepeatPassword()">
              <mat-icon>{{ showRepeatPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
      </mat-form-field> 
      <button (click)="resetPassword()" class="btn btn-green" style="margin: 20px 0 0 auto;">Сохранить</button>
  </div>
</main>
