<main class="add-admin">
  <section class="page-header">
    <div class="page-header__top">
      <h2 class="page-header__title title">Создание заказа</h2>
    </div>
  </section>
  <form class="page-form">
    <div class="page-form__main">
      <div class="form__group">
        <div class="tw-grid tw-gap-4">

          <mat-form-field class="form__input" appearance="fill">
            <mat-label>Место отправки груза</mat-label>
            <input type="text"
                   matInput
                   name="sendLocation"
                   [(ngModel)]="data.sendLocation"
                   [matAutocomplete]="auto"
                   (input)="findCity($event)"> 
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of findList" [value]="option.value">
                {{option.value}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="form__input" appearance="fill">
            <mat-label>Место доставки груза</mat-label> 
            <input type="text"
                   matInput
                   name="cargoDeliveryLocation"
                   [(ngModel)]="data.cargoDeliveryLocation"
                   [matAutocomplete]="auto"
                   (input)="findCity($event)"> 
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of findList" [value]="option.value">
                {{option.value}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        
          <mat-form-field class="form__input" appearance="fill">
            <mat-label>Тип груза</mat-label>
            <mat-select name="cargoTypeId" [(ngModel)]="data.cargoTypeId">
              <mat-option *ngFor="let type of types" [value]="type.id">{{type.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form__input" appearance="fill">
            <mat-label>Тип транспорта</mat-label>
            <mat-select name="transportTypeId" [(ngModel)]="data.transportTypeId">
              <mat-option *ngFor="let type of transportTypes" [value]="type.id">{{type.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form__input" appearance="fill">
            <mat-label>Валюта</mat-label>
            <mat-select name="currencyId" [(ngModel)]="data.currencyId">
              <mat-option *ngFor="let currency of currencies" [value]="currency.id">{{currency.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field class="form__input">
            <mat-label>Предлагаемая цена</mat-label>
            <input
              matInput
              type="number"
              name="offeredPrice"
              [(ngModel)]="data.offeredPrice"
            />
          </mat-form-field>

          <mat-form-field class="form__input">
            <mat-label>Дата отправки груза</mat-label>
            <input
              type="date"
              matInput
              placeholder="Дата отправки груза"
              name="sendCargoDate"
              [(ngModel)]="sendCargoDate"
            />
            <mat-datepicker-toggle matIconSuffix [for]="dateStartpicker">
              <i class="icm-calendar" matDatepickerToggleIcon></i>
            </mat-datepicker-toggle>
            <mat-datepicker #dateStartpicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="form__input">
            <mat-label>Время отправки груза</mat-label>
            <input matInput type="time" name="sendCargoTime" [(ngModel)]="sendCargoTime" />
          </mat-form-field>

          <mat-form-field class="form__input">
            <mat-label>Вес груза</mat-label>
            <input
              matInput
              type="number"
              name="cargoWeight"
              [(ngModel)]="data.cargoWeight"

            />
          </mat-form-field>

          <mat-form-field class="form__input">
            <mat-label>Длина</mat-label>
            <input
              matInput
              type="text"
              name="cargoLength"
              [(ngModel)]="data.cargoLength"
            />
          </mat-form-field>

          <mat-form-field class="form__input">
            <mat-label>Ширина</mat-label>
            <input
              matInput
              type="text"
              name="cargoWidth"
              [(ngModel)]="data.cargoWidth"
            />
          </mat-form-field>

          <mat-form-field class="form__input">
            <mat-label>Высота</mat-label>
            <input
              matInput
              type="text"
              name="cargoHeight"
              [(ngModel)]="data.cargoHeight"
            />
          </mat-form-field>

          <div class="form__status">
            <mat-slide-toggle
              color="primary"
              name="isUrgent"
              [(ngModel)]="data.isUrgent"
              [checked]="data.isUrgent"
              (change)="addTwoDays($event)"
              >+2 дня (Оставьте тумблер выключенным если это срочный
              заказ)</mat-slide-toggle
            >
          </div>

          <div class="form__status">
            <mat-slide-toggle
              color="primary"
              name="isDangrousCargo"
              [(ngModel)]="data.isDangrousCargo"
              [checked]="data.isDangrousCargo"
              (change)="selectAdr($event)"
              >ADR (Перевозка опасного груза)</mat-slide-toggle
            >
          </div>

          <div class="form__status">
            <mat-slide-toggle
              color="primary"
              name="isCashlessPayment"
              [(ngModel)]="data.isCashlessPayment"
              [checked]="data.isCashlessPayment"
              (change)="selectNoCash($event)"
              >Безналичная оплата</mat-slide-toggle
            >
          </div>

        </div>
      </div>
    </div>
    <div class="page-form__footer">
      <button class="page-form__btn btn-green" (click)="addOrder()">
        Создать заказ
      </button>
    </div>
  </form>
</main>


