<main class="add-admin">
    <section class="page-header">
        <div class="page-header__top">
            <h2 class="page-header__title title">Создание заказа</h2>
        </div>
    </section>
    <form class="page-form">
        <div class="page-form__main">
            <div class="form__group">
                <div class="tw-grid tw-gap-4">
                    <mat-form-field class="form__input">
                        <mat-label>Откуда</mat-label>
                        <input matInput list="cities_start" name="cities_start" (input)="findCity($event)" [(ngModel)]="citystart">
                        <datalist id="cities_start">
                            <ng-container *ngFor="let city of findList">
                                <option [value]="city.data.city + ', ' + city.data.country + ':'+ city.data.geoname_id + ':'+ city.data.geo_lat + ':'+ city.data.geo_lon"></option>
                            </ng-container>
                        </datalist>
                    </mat-form-field>
                    <mat-form-field class="form__input">
                        <mat-label>Куда</mat-label>
                        <input matInput list="cities_finish" name="cities_finish" (input)="findCity($event)" [(ngModel)]="cityfinish">
                        <datalist id="cities_finish">
                            <ng-container *ngFor="let city of findList">
                                <option [value]="city.data.city + ', ' + city.data.country + ':'+ city.data.geoname_id + ':'+ city.data.geo_lat + ':'+ city.data.geo_lon"></option>
                            </ng-container>
                        </datalist>
                    </mat-form-field>
                    <mat-form-field class="form__input">
                        <mat-label>Клиент</mat-label>
                        <input matInput list="users" name="users" [(ngModel)]="data.userid">
                        <datalist id="users">
                            <ng-container *ngFor="let user of helper.users">
                                <option *ngIf="user.name" [value]="user.id + ' - ' + user.name"></option>
                            </ng-container>
                        </datalist>
                    </mat-form-field>
                    <mat-form-field class="form__input">
                        <mat-label>Тип груза</mat-label>
                        <input matInput list="typecargo" name="typecargo" [(ngModel)]="data.typecargo" autocomplete="false">
                        <datalist id="typecargo">
                            <ng-container *ngFor="let type of helper.typecargo">
                                <option [value]="type.id + ' - ' + type.name"></option>
                            </ng-container>
                        </datalist>
                    </mat-form-field>
                    <mat-form-field class="form__input">
                        <mat-label>Тип транспорта</mat-label>
                        <input matInput list="typetruck" name="typetruck"  [(ngModel)]="data.typetransport">
                        <datalist id="typetruck">
                            <ng-container *ngFor="let type of helper.typetruck">
                                <option  [value]="type.id + ' - ' + type.name"></option>
                            </ng-container>
                        </datalist>
                    </mat-form-field>

                    <mat-form-field class="form__input">
                        <mat-label>Вес груза</mat-label>
                        <input matInput type="number" name="weight" [(ngModel)]="data.weight" />
                    </mat-form-field>

                    <mat-form-field class="form__input">
                        <mat-label>Предлагаемая цена</mat-label>
                        <input matInput type="number" name="price" [(ngModel)]="data.price"/>
                    </mat-form-field>

                    <mat-form-field class="form__input">
                        <mat-label>Дата отправки груза</mat-label>
                        <input matInput placeholder="Дата отправки груза" [(ngModel)]="data.date_start" [matDatepicker]="dateStartpicker"/>
                        <mat-datepicker-toggle matIconSuffix [for]="dateStartpicker">
                            <i class="icm-calendar" matDatepickerToggleIcon></i>
                        </mat-datepicker-toggle>
                        <mat-datepicker
                            #dateStartpicker
                            [(ngModel)]="data.date_start"
                        ></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="form__input">
                        <mat-label>Время отправки груза</mat-label>
                        <input matInput type="time" name="time" [(ngModel)]="time"/>
                    </mat-form-field>

                    <mat-form-field class="form__input">
                        <mat-label>Длина</mat-label>
                        <input matInput type="text" name="time" [(ngModel)]="data.length_box"/>
                    </mat-form-field>

                    <mat-form-field class="form__input">
                        <mat-label>Ширина</mat-label>
                        <input matInput type="text" name="time" [(ngModel)]="data.width_box"/>
                    </mat-form-field>

                    <mat-form-field class="form__input">
                        <mat-label>Высота</mat-label>
                        <input matInput type="text" name="time" [(ngModel)]="data.height_box"/>
                    </mat-form-field>

                    <div class="form__status">
                        <mat-slide-toggle color="primary" [checked]="data.add_two_days" (change)="addTwoDays($event)">+2 дня (Оставьте тумблер выключенным если это срочный заказ)</mat-slide-toggle>
                    </div>

                    <div class="form__status">
                        <mat-slide-toggle color="primary" [checked]="data.adr" (change)="selectAdr($event)">ADR (Перевозка опасного груза)</mat-slide-toggle>
                    </div>

                    <div class="form__status">
                        <mat-slide-toggle color="primary" [checked]="data.no_cash" (change)="selectNoCash($event)">Безналичная оплата</mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-form__footer">
            <button class="page-form__btn btn-green" (click)="addOrder()">Создать заказ</button>
        </div>
    </form>
</main>
