<main class="logistic">
   <section class="page-header">
      <div class="page-header__top">
         <h2 class="page-header__title title">Партнеры</h2>
         <div class="page-header__actions">
            <a routerLink="/add-partner" class="page-header__btn btn-green">
               Добавить Партнера
            </a>
         </div>
      </div>
      <form class="page-header__filter filter-header form" data-filter-section>
         <div class="filter-header__actions">
            <mat-form-field class="form__input">
               <mat-label>Поиск по наименованию</mat-label>
               <input matInput (input)="serachForText($event)" />
            </mat-form-field>
            <mat-form-field class="form__input form__select">
               <mat-label>Тип</mat-label>
               <mat-select
                  disableRipple
                  (selectionChange)="selectType($event)"
                  [(value)]="selectedType"
               >
                  <mat-option value="all">- -</mat-option>
                  <mat-option value="premium">Франшиза</mat-option>
                  <mat-option value="ordinary">Обычный</mat-option>
               </mat-select>
            </mat-form-field>
            <mat-form-field class="form__input form__select">
               <mat-label>Статус Партнера</mat-label>
               <mat-select
                  disableRipple
                  (selectionChange)="selectActive($event)"
                  [(value)]="selectedActive"
               >
                  <mat-option value="all">- -</mat-option>
                  <mat-option value="1">Активный</mat-option>
                  <mat-option value="0">Заблокированный</mat-option>
               </mat-select>
            </mat-form-field>
            <mat-form-field class="form__input form__select">
               <mat-label>Сортировать</mat-label>
               <mat-select
                  disableRipple
                  (selectionChange)="sortedList($event)"
                  [(value)]="selectedActive"
               >
                  <mat-option value="all">- -</mat-option>
                  <mat-option value="id,true">Сначала новые</mat-option>
                  <mat-option value="id,false">Сначала старые</mat-option>
                  <mat-option value="title,true"
                     >По наименованию (A-Z)</mat-option
                  >
                  <mat-option value="title,false"
                     >По наименованию (Z-A)</mat-option
                  >
                  <mat-option value="cars_quantity,false"
                     >Меньше всего авто</mat-option
                  >
                  <mat-option value="cars_quantity,true"
                     >Больше всего авто</mat-option
                  >
                  <mat-option value="active,false">Сначала активные</mat-option>
                  <mat-option value="active,true"
                     >Сначала заблокированные</mat-option
                  >
               </mat-select>
            </mat-form-field>
         </div>
         <div class="filter-header__buttons">
            <button
               class="filter-header__btn btn-red"
               type="button"
               (click)="filterClear()"
            >
               Сбросить фильтры
            </button>
         </div>
      </form>
   </section>
   <section class="table">
      <ag-grid-angular
         class="ag-theme-alpine"
         style="height: 300px; width: 100%"
         [rowData]="rowData"
         [columnDefs]="colDefs"
      >
      </ag-grid-angular>
   </section>
</main>
