<article class="review">
   <p class="review__position">Водитель</p>
   <div class="review__header">
      <div class="review__info">
         <img src="/assets/img/user.jpg" class="review__img" alt="Картинка" />
         <p class="review__name">Yuldasheva Iroda</p>
         <p class="review__id">ID: 2762</p>
         <p class="review__login">Логин: iroda1234</p>
         <p class="review__rate"><i class="icm-star"></i> 5.0</p>
      </div>
      <button class="review__btn btn-wine">Профиль</button>
   </div>
   <div class="review__body">
      <p class="review__title title">Отзывы</p>
      <p class="review__text">
         программа яхши ишламаяпти программа яхши ишламаяпти программа яхши
         ишламаяпти программа яхши ишламаяпти
      </p>
   </div>
</article>
