<main class="auth" *ngIf="!authService.isAuthenticated()">
  <div class="auth__form form">
    <p>Merchant</p>
    <img src="/assets/img/logo.svg" class="auth__logo" alt="Картинка" />
    <div style="display: flex; flex-wrap: wrap; justify-content: space-between">
      <div style="display: flex; flex-wrap: wrap; width: 70%">
     
        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>Электронная почта</mat-label>
              <input matInput name="email" [(ngModel)]="data.email" />
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>Название компании</mat-label>
              <input
                matInput
                name="companyName"
                [(ngModel)]="data.companyName"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>Ф.И.О руководителя</mat-label>
              <input matInput name="supervisorFullName" [(ngModel)]="data.supervisorFullName" />
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>Наименование банка</mat-label>
              <input matInput name="bankName" [(ngModel)]="data.bankName" />
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>ИНН</mat-label>
              <input type="number" mask="999999999" matInput name="inn" [(ngModel)]="data.inn" maxlength="9" />
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>ОКЭД</mat-label>
              <input type="number" mask="99999" matInput name="oked" [(ngModel)]="data.oked" maxlength="5" />
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>МФО</mat-label>
              <input type="number" matInput name="mfo" [(ngModel)]="data.mfo" mask="99999" maxlength="5" />
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>DUNS номер</mat-label>
              <input
                type="number"
                matInput
                name="dunsNumber"
                [(ngModel)]="data.dunsNumber"
                mask="999999999"
                maxlength="9"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>Заметки</mat-label>
              <input matInput name="notes" [(ngModel)]="data.notes" />
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper" style="margin-left: 1px;">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>Телефон</mat-label>
              <input
                matInput
                type="text"
                name="phoneNumbers"
                mask='+999999999999' 
                [(ngModel)]="data.phoneNumbers[0]"
                required
              />
              <mat-icon matSuffix *ngIf="!phone2" (click)="phone2 = true"
                >add</mat-icon
              >
            </mat-form-field>
          </div>

          <div class="dynamic-inputs" *ngIf="phone2">
            <mat-form-field class="form__input example-full-width">
              <mat-label>Телефон</mat-label>
              <input
                matInput
                type="text"
                name="phone2"
                mask='+999999999999'
                [(ngModel)]="data.phone2"
              />
              <mat-icon matSuffix (click)="phone2 = false">delete</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>Юридический адрес</mat-label>
              <input
                matInput
                type="text"
                name="legalAddress"
                [(ngModel)]="data.legalAddress"
              />
              <mat-icon
                matSuffix
                *ngIf="!factAddressShow"
                (click)="factAddressShow = true"
                >add</mat-icon
              >
            </mat-form-field>
          </div>

          <div class="dynamic-inputs" *ngIf="factAddressShow">
            <mat-form-field class="form__input">
              <mat-label>Фактический адрес</mat-label>
              <input
                matInput
                type="text"
                name="factAddress"
                [(ngModel)]="data.factAddress"
              />
              <mat-icon matSuffix (click)="factAddressShow = false"
                >delete</mat-icon
              >
            </mat-form-field>
          </div>
        </div>

      </div>

      <div style="width: 30%">
        <div style="margin-left: 20px">
          <mat-form-field style="display: block">
            <mat-toolbar>
              <input
                matInput
                [value]="
                  selectedFileNames.length ? selectedFileNames : 'Логотип'
                "
              />
            </mat-toolbar>
            <input
              type="file"
              id="fileInput"
              name="logo"
              [(ngModel)]="data.logo"
              accept="image/*"
              (change)="selectFiles($event)"
            />
            <mat-icon matSuffix>file_download</mat-icon>
          </mat-form-field>
        </div>

        <div style="margin-left: 20px">
          <mat-form-field style="display: block">
            <mat-toolbar>
              <input
                matInput
                [value]="
                  certificateNames.length
                    ? certificateNames
                    : 'Свидетельство о регистрации'
                "
              />
            </mat-toolbar>

            <input
              type="file"
              id="fileInput"
              name="certificate_registration"
              [(ngModel)]="data.certificate_registration"
              accept="image/*"
              (change)="selectCertificate($event)"
            />
            <mat-icon matSuffix>file_download</mat-icon>
          </mat-form-field>
        </div>

        <div style="margin-left: 20px">
          <mat-form-field style="display: block">
            <mat-toolbar>
              <input
                matInput
                [value]="
                passportNames.length
                    ? passportNames
                    : 'Паспорт руководителя'
                "
              />
            </mat-toolbar>

            <input
              type="file"
              id="fileInput"
              name="supervisor_passport"
              [(ngModel)]="data.supervisor_passport"
              accept="image/*"
              (change)="selectPassport($event)"
            />
            <mat-icon matSuffix>file_download</mat-icon>
          </mat-form-field>
        </div>

      </div>

    </div>
  </div>
</main>
