<aside class="sidebar">
   <div class="sidebar__header">
      <a href="#" class="sidebar__logo">
         <img [src]="logo" alt="Картинка" />
      </a>
   </div>
   <nav class="sidebar__menu menu" data-spollers>
      <ul class="menu__list" >
         <li class="menu__item" >
            <a
               routerLink="/orders"
               routerLinkActive="_active"
               class="menu__link"
               (click)="closeMenu()"
            >
               <i class="icm-list-blank"></i>
               <span>Грузы</span>
            </a>
         </li>

         <li class="menu__item">
            <a
               routerLink="/finance"
               routerLinkActive="_active"
               class="menu__link"
               (click)="closeMenu()"
            >
               <i class="icm-list-blank"></i>
               <span>Финансы</span>
            </a>
         </li>

         <li class="menu__item">
            <a
               routerLink="/documents"
               routerLinkActive="_active"
               class="menu__link"
               (click)="closeMenu()"
            >
               <i class="icm-file"></i>
               <span>Документы </span>
            </a>
         </li>

         <li class="menu__item">
            <a
               routerLink="/profile"
               routerLinkActive="_active"
               class="menu__link"
               (click)="closeMenu()"
            >
               <i class="icm-setting"></i>
               <span>Настройки </span>
            </a>
         </li>

         <li class="menu__item">
            <a
               routerLink="/users"
               routerLinkActive="_active"
               class="menu__link"
               (click)="closeMenu()"
            >
               <i class="icm-users"></i>
               <span>Пользователи  </span>
            </a>
         </li>

         <li class="menu__item">
            <a
               routerLink="/support"
               routerLinkActive="_active"
               class="menu__link"
               (click)="closeMenu()"
            >
               <i class="icm-list-blank"></i>
               <span>Служба поддержки  </span>
            </a>
         </li>

         <li class="menu__item">
            <a
               routerLink="/analytics"
               routerLinkActive="_active"
               class="menu__link"
               (click)="closeMenu()"
            >
               <i class="icm-list-blank"></i>
               <span>Аналитика </span>
            </a>
         </li>

         <li class="menu__item log_out">
            <a
               class="menu__link"
               (click)="logOut()"
            >
               <span>Выход</span>
            </a>
         </li>
         <li class="menu__item">
            <span class="menu_link version">Tirgo Merchant ver 0.0.1</span>
         </li>
      </ul>
   </nav>
</aside>
