<main class="transaction view">
   <section class="page-header">
      <div class="page-header__top">
         <h2 class="page-header__title title">Детали транзакции</h2>
      </div>
   </section>
   <section class="view__main">
      <div class="tw-grid tw-gap-5 tw-content-start">
         <div class="view__informate view__block">
            <h4 class="view__title title-sec">Информация</h4>
            <div class="tw-grid tw-gap-5 xl:tw-grid-cols-2">
               <div class="view__list">
                  <p class="tw-flex tw-justify-between">
                     <span>ID транзакции: </span>
                     <span>884</span>
                  </p>
                  <p class="tw-flex tw-justify-between">
                     <span>Тип транзакции:</span>
                     <span>Списание</span>
                  </p>
                  <p class="tw-flex tw-justify-between">
                     <span>Водитель/Грузоотправитель:</span>
                     <span>OBID</span>
                  </p>
               </div>
               <div class="view__list">
                  <p class="tw-flex tw-justify-between">
                     <span>Сумма транзакции: </span>
                     <span class="text-red">-165000</span>
                  </p>
                  <p class="tw-flex tw-justify-between">
                     <span>Дата:</span>
                     <span>15.12.2022 15:08</span>
                  </p>
                  <p class="tw-flex tw-justify-between">
                     <span>Основание:</span>
                     <span>Списание с баланса за Подписку Водителя</span>
                  </p>
               </div>
            </div>
            <div class="view__buttons">
               <button class="view__btn btn-green" type="button">Назад</button>
            </div>
         </div>
      </div>
   </section>
</main>
