.app-header {
   border-radius: 25px;
   position: fixed;
   z-index: 12;

   right: 0;
   left: rem(300);
   height: rem(60);

   padding: 0 rem(20);
   color: black;
   //background: $mainColor;

   display: grid;

   .menu-open & {
      .header__toggler {
         transform: rotateY(0);
      }
   }
   header{
      .header__profile{
         button{
            color: $mainColor;
         }
      }
   }
   @media (max-width: $tablet) {
      left: 0;
   }
}
