.btn {
   border: rem(1) solid $mainWine;
   height: rem(40);

   display: flex;
   align-items: center;
   justify-content: center;

   color: $mainColor;
   padding: 0 rem(10);

   border-radius: rem(5);

   transition: all 0.2s ease 0s;

   &:disabled {
      opacity: 0.6;
   }

   &._active {
      background-color: $mainWine;
      color: #fff;
      &:has(.icm-chevron) i.icm-chevron {
         transform: rotateX(180deg);
         color: #fff;
      }
   }

   &:has(.icm-chevron) i.icm-chevron {
      color: $mainWine;
      font-size: rem(12);
      margin-left: rem(10);
      transition: all 0.2s ease 0s;
   }

   @media (any-hover: hover) {
      &:hover {
         background-color: $mainWine;
         color: #fff;
         i.icm-chevron {
            color: #fff;
         }
      }
   }
}

.btn-red {
   @extend .btn;
   border: 0;
   background: $mainRed;

   color: #fff;

   @media (any-hover: hover) {
      &:hover {
         background: #b00d0d;
      }
   }
}


.btn-warning {
   @extend .btn;
   border: 0;
   background: $mainOrange;

   color: #fff;

   @media (any-hover: hover) {
      &:hover {
         background: #d76a00;
      }
   }
}

.btn-green {
   @extend .btn;
   border: 0;
   background: $mainGreen;

   color: #fff;

   &:disabled {
      @media (any-hover: hover) {
         &:hover {
            background: $mainGreen;
         }
      }
   }

   @media (any-hover: hover) {
      &:hover {
         background: #069827;
      }
   }
}

.btn-wine {
   @extend .btn;
   border: 0;
   background: $mainWine;

   color: #fff;

   @media (any-hover: hover) {
      &:hover {
         background: #1e2839;
      }
   }
}

.btn-yellow {
   @extend .btn;
   border: 0;
   background: $mainYellow;

   color: #fff;

   @media (any-hover: hover) {
      &:hover {
         background: #cd9e00;
      }
   }
}

.badge {
   height: rem(30);
   border: rem(1) solid $mainColor;

   display: flex;
   align-items: center;
   justify-content: center;

   background: #fff;
   color: $mainWine;
   padding: 0 rem(10);
}

.badge-green {
   @extend .badge;
   background: $mainGreen;
   color: #fff;

   border: 0;
}

.badge-red {
   @extend .badge;
   border: 0;
   background: $mainRed;
   color: #fff;
}

.badge-orange {
   @extend .badge;
   border: 0;
   background: $mainOrange;
   color: #fff;
}

.badge-wine {
   @extend .badge;
   border: 0;
   background: $mainWine;
   color: #fff;
}

.badge-yellow {
   @extend .badge;
   border: 0;
   background: $mainYellow;
   color: #fff;
}
