<div class="orders">
  <section class="page-header">
    <div class="page-header__top">
      <h2 class="page-header__title title">Грузы</h2>
      <div class="page-header__actions">
        <button class="page-header__btn btn-green" (click)="openCreateOrder()">
          Добавить груз
        </button>
      </div>
    </div>
  </section>
  <div class="table">
    <!-- <div class="filter">
         <div class="filter-inputs">
            <input type="text" class="page__search" placeholder="Поиск по id" [(ngModel)]="id"/>
            <input type="text" class="page__search" placeholder="Поиск по id клиента" [(ngModel)]="id_client"/>
            <input type="text" class="page__search" placeholder="Откуда" [(ngModel)]="from_city"/>
            <input type="text" class="page__search" placeholder="Куда" [(ngModel)]="to_city"/>
            <input type="date" class="page__search" placeholder="Дата создания" [(ngModel)]="dateCreate"/>
            <input type="date" class="page__search" placeholder="Дата отправки" [(ngModel)]="dateSend"/>
            <input type="text" class="page__search" placeholder="Поиск по цене" [(ngModel)]="price"/>
            <span>
               <select name="select" class="page__search" (change)="statusFind($event)">
                 <option value="all">Все статусы</option>
                 <option value="0">Ожидающие</option>
                 <option value="1">Выполняются</option>
                 <option value="2">Выполнены</option>
                 <option value="3">Отменены</option>
               </select>
            </span>
            <span>
               <select name="select" class="page__search" (change)="saveOrder($event)">
                 <option value="all">Все</option>
                 <option value="1">Безопасная сделка ВКЛ</option>
                 <option value="0">Безопасная сделка ОТКЛ</option>
               </select>
            </span>
            <span>
               <select name="select" class="page__search" (change)="cargoTypeFind($event)">
                 <option value="all">Все типы груза</option>
                 <ng-container *ngFor="let row of helper.typecargo">
                   <option [value]="row.id">{{row.name}}</option>
                 </ng-container>
               </select>
             </span>
            <span>
               <select name="select" class="page__search" (change)="transportTypeFind($event)">
                 <option value="all">Все типы транспорта</option>
                 <ng-container *ngFor="let row of helper.typetruck">
                   <option [value]="row.id">{{row.name}}</option>
                 </ng-container>
               </select>
             </span>
         </div>
         <div class="filter-buttons">
            <button class="page__btn btn-custom" (click)="filterList()">
               Отфильтровать
            </button>
            <button class="page__btn btn-custom" (click)="filterClear()">
               Сбросить фильтр
            </button>
         </div>
      </div>  -->

    <!-- <div class="statuses" style="display: flex; justify-content: space-between; margin: 10px 0px">
         <mat-card>
            <mat-card-content style="text-align: center;">
               <div style="font-weight: 600;">Ожидающий</div>
               <div>0</div>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content style="text-align: center;">
               <div style="font-weight: 600;">В работе</div>
               <div>0</div>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content style="text-align: center;">
               <div style="font-weight: 600;">Предложении</div>
               <div>0</div>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content style="text-align: center;">
               <div style="font-weight: 600;">Завершённые</div>
               <div>0</div>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content style="text-align: center;">
               <div style="font-weight: 600;">Отмененные</div>
               <div>0</div>
            </mat-card-content>
          </mat-card>
      </div> -->
    <!-- <mat-table [dataSource]="helper.orders">
         <ng-container matColumnDef="id">
            <div class="offer-wrapper">
            <mat-header-cell *matHeaderCellDef>ID </mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index">
               <div class="offer" *ngIf="row.acceptedOrders?.length && row.status !== 1 && row.status !== 2">{{ row.acceptedOrders?.length }}</div>
               {{row.id}} </mat-cell>
            </div>
         </ng-container>
         <ng-container matColumnDef="userinfo.name">
            <mat-header-cell *matHeaderCellDef>Клиент</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.merchant.companyName}} </mat-cell>
         </ng-container>
         <ng-container matColumnDef="route.from_city">
            <mat-header-cell *matHeaderCellDef>Маршрут Откуда</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.sendLocation}} </mat-cell>
         </ng-container>
         <ng-container matColumnDef="route.to_city">
            <mat-header-cell *matHeaderCellDef>Маршрут Куда</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.cargoDeliveryLocation}} </mat-cell>
         </ng-container>
         <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Статус</mat-header-cell>
            <mat-cell *matCellDef="let row" [class]="returnClassStatusOrder(row.status)"> 
                  <span *ngIf="row.status == 0">Ожидающий</span>
                  <span *ngIf="row.status == 1">Принято</span>
                  <span *ngIf="row.status == 2">Доставлено</span>
            </mat-cell>
         </ng-container>
         <ng-container matColumnDef="type_cargo">
            <mat-header-cell *matHeaderCellDef>Тип груза</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.cargoType.name}} </mat-cell>
         </ng-container>
         <ng-container matColumnDef="transport_type">
            <mat-header-cell *matHeaderCellDef>Тип транспорта</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.transportType.name}} </mat-cell>
         </ng-container>
         <ng-container matColumnDef="orders_accepted">
            <mat-header-cell *matHeaderCellDef>Статус обработки</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.status}}</mat-cell>
         </ng-container>
         <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef>Предлагаемая стоимость</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.offeredPrice ? row.offeredPrice + ' ' + row.currency.name:'Не указана'}} </mat-cell>
         </ng-container>
         <ng-container matColumnDef="secure_transaction">
            <mat-header-cell *matHeaderCellDef>Безопасная сделка</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.secure_transaction ? 'Да':'Нет'}}</mat-cell>
         </ng-container>
         <ng-container matColumnDef="date_create">
            <mat-header-cell *matHeaderCellDef>Дата создания</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.createdAt | formatTime: 'DD.MM.YYYY'}}</mat-cell>
         </ng-container>
         <ng-container matColumnDef="date_send">
            <mat-header-cell *matHeaderCellDef>Дата погрузки</mat-header-cell>
            <mat-cell *matCellDef="let row">
               {{ row.isUrgent ? (row.createdAt | addDays: 2 | formatTime: 'DD.MM.YYYY') : (row.createdAt | formatTime: 'DD.MM.YYYY') }}
             </mat-cell>
         </ng-container>
         
        
         <mat-header-row *matHeaderRowDef="['id', 'userinfo.name', 'route.from_city', 'route.to_city', 'status', 'type_cargo', 'transport_type', 'orders_accepted', 'price', 'secure_transaction', 'date_create', 'date_send']"></mat-header-row>
         <mat-row (click)="viewOrder(row)" *matRowDef="let row; columns: ['id', 'userinfo.name', 'route.from_city', 'route.to_city', 'status', 'type_cargo', 'transport_type', 'orders_accepted', 'price', 'secure_transaction', 'date_create', 'date_send']"></mat-row>
      </mat-table> -->

    <div class="new-table-wrapper">
      <table class="new-table">
         <thead>
            <tr>
               <th>ID</th>
               <th>Клиент</th>
               <th>Маршрут Откуда</th>
               <th>Маршрут Куда</th>
               <th>Статус</th>
               <th>Тип груза</th>
               <th>Тип транспорта</th>
               <!-- <th>Статус обработки</th> -->
               <th>Предлагаемая стоимость</th>
               <th>Безопасная сделка</th>
               <th>Дата создания</th>
               <th>Дата погрузки</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let order of helper.orders" (click)="viewOrder(order)">
               <td>{{ order.id }}</td>
               <td>{{ order.merchant?.companyName }}</td>
               <td>{{ order.sendLocation }}</td>
               <td>{{ order.cargoDeliveryLocation }}</td>
               <td>{{ order.status }}</td>
               <td>{{ order.cargoType?.name }}</td>
               <td>{{ order.transportType?.name }}</td>
               <!-- <td>{{ order.status }}</td> -->
               <td>{{ order.offeredPrice }}</td>
               <td>{{ order.secure_transaction ? 'Да':'Нет' }}</td>
               <td>{{ order.createdAt | formatTime: 'DD.MM.YYYY' }}</td>
               <td>{{ order.isUrgent ? (order.createdAt | addDays: 2 | formatTime: 'DD.MM.YYYY') : (order.createdAt | formatTime: 'DD.MM.YYYY') }}</td>
            </tr>
         </tbody>
        <thead>
          <tr>
            <th>ID</th>
            <th>Клиент</th>
            <th>Маршрут Откуда</th>
            <th>Маршрут Куда</th>
            <th>Статус</th>
            <th>Тип груза</th>
            <th>Тип транспорта</th>
            <th>Статус обработки</th>
            <th>Предлагаемая стоимость</th>
            <th>Безопасная сделка</th>
            <th>Дата создания</th>
            <th>Дата погрузки</th>
            <th>Операция</th>
          </tr>
        </thead>
        <tbody>
          <tr style="position: relative;" *ngFor="let order of helper.orders" (click)="viewOrder(order)">
            <td>
              <!-- <div class="offer-wrapper"> -->
              {{ order.id }}
              <div class="offer" *ngIf="order.acceptedOrders?.length && order.status == 0">{{
                order.acceptedOrders?.length }}</div>
              <!-- </div> -->
            </td>
            <td>{{ order.merchant?.companyName }}</td>
            <td>{{ order.sendLocation }}</td>
            <td>{{ order.cargoDeliveryLocation }}</td>
            <td [class.blue]="order.status == 0" [class.yellow]="order.status == 1" [class.green]="order.status == 2" [class.darkgreen]="order.status == 3">
              <span *ngIf="order.status == 0">Ожидающий</span>
              <span *ngIf="order.status == 1">Принято</span>
              <span *ngIf="order.status == 2">Выполнен</span>
              <span *ngIf="order.status == 3">Завершен</span>
            </td>
            <td>{{ order.cargoType?.name }}</td>
            <td>{{ order.transportType?.name }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.offeredPrice }}</td>
            <td>{{ order.isSafe ? 'Да':'Нет' }}</td>
            <td>{{ order.createdAt | formatTime: 'DD.MM.YYYY' }}</td>
            <td>{{ order.isUrgent ? (order.createdAt | addDays: 2 | formatTime: 'DD.MM.YYYY') : (order.createdAt |
              formatTime: 'DD.MM.YYYY') }}</td>
              <td *ngIf="order.status == 2">
                <button class="btn-green" (click)="orderFinished(order)">Заверщить</button>
              </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator [length]="helper.orders.length" showFirstLastButtons [pageSizeOptions]="sizespage"
        (page)="handlePage($event)"></mat-paginator>
    </div>

  </div>
</div>