<main class="auth" *ngIf="!authService.isAuthenticated() && !formDone">
  <div class="auth__form form">
    <p>Merchant</p>
    <img src="/assets/img/logo.svg" class="auth__logo" alt="Картинка" />

    <form #form="ngForm">
      <!-- 1 STEP -->
      <div class="dynamic-inputs-wrapper" style="margin: 0 auto;" *ngIf="!registrationStart">
        <div class="dynamic-inputs" style="gap: 10px; align-items: baseline;">
          <mat-select class="form__input" style="width: 25%; margin-left: 10px" name="countryCode"
            [(ngModel)]="countryCode" (ngModelChange)="changedCountry($event)">
            <mat-option *ngFor="let country of countrCodes" [value]="country">
              {{ country.country }}
            </mat-option>
          </mat-select>
          <div *ngIf="countryCode" style="height: 50px;">{{ countryCode.code }}</div>

          <mat-form-field class="form__input">
            <mat-label>Телефон</mat-label>
            <input matInput type="number" name="phone" [(ngModel)]="phone" required #phoneNumbers="ngModel" required />
          </mat-form-field>
        </div>
      </div>

      <div class="dynamic-inputs-wrapper" style="margin: 0 auto;" *ngIf="verficationCode && !registrationStart">
        <div class="dynamic-inputs" style="gap: 10px; align-items: baseline;">
          <mat-form-field class="form__input">
            <mat-label>Введите код</mat-label>
            <input matInput type="number" name="verifyCode" [(ngModel)]="verifyCode" required required />
          </mat-form-field>
        </div>
      </div>

      <button *ngIf="!verficationCode" [disabled]="!form.valid" (click)="sendSms()" style="margin: 20px auto"
        class="auth__btn btn-green">
        Отправить код
      </button>
      <button *ngIf="verficationCode && !registrationStart" [disabled]="!form.valid" (click)="startRegistr()"
        style="margin: 20px auto" class="auth__btn btn-green">
        Продолжить
      </button>
      <!-- 1 STEP -->

      <!-- 2 STEP -->
      <div class="dynamic-inputs-wrapper" style="margin: 0 auto;" *ngIf="verficationCode && registrationStart">
        <div class="dynamic-inputs" style="gap: 10px; align-items: baseline;">
            <mat-form-field class="form__input">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" [(ngModel)]="data.email" required />
            </mat-form-field>
        </div>
    </div>
    
    <div class="dynamic-inputs-wrapper" style="margin: 0 auto;" *ngIf="verficationCode && registrationStart">
        <div class="dynamic-inputs" style="gap: 10px; align-items: baseline;">
            <mat-form-field class="form__input">
                <mat-label>Наименование фирмы</mat-label>
                <input matInput type="email" name="companyName" [(ngModel)]="data.companyName" required />
            </mat-form-field>
        </div>
    </div>
    
    <div class="dynamic-inputs-wrapper" style="margin: 0 auto;" *ngIf="verficationCode && registrationStart">
        <div class="dynamic-inputs" style="gap: 10px; align-items: baseline;">
            <mat-form-field class="form__input">
                <mat-label>Ввести пароль</mat-label>
                <input matInput type="{{ showPassword ? 'text' : 'password' }}" name="password" [(ngModel)]="data.password" required />
                <button mat-icon-button matSuffix (click)="toggleShowPassword()">
                    <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    
    <button *ngIf="verficationCode && registrationStart" [disabled]="!form.valid" (click)="createMerchant()" style="margin: 20px auto" class="auth__btn btn-green">
        Сохранить
    </button>
      <!-- 2 STEP -->

      <!-- <div class="form" *ngIf="verficationCode && registrationStart" > 
       <div class="dynamic-inputs-wrapper">
            <mat-form-field class="form__input">
              <mat-label>Электронная почта</mat-label>
              <input matInput name="email" [(ngModel)]="data.email" required #email="ngModel" />
              <span style="margin-left: 0; color: red;" *ngIf="email.invalid && (email.dirty || email.touched)">
                Обязательное поле</span>
            </mat-form-field>
        </div>
        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>Название компании</mat-label>
              <input required matInput name="companyName" #companyName="ngModel" [(ngModel)]="data.companyName" />
              <span style="margin-left: 0; color: red;"
                *ngIf="companyName.invalid && (companyName.dirty || companyName.touched)">Обязательное поле</span>
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>Ф.И.О руководителя</mat-label>
              <input matInput required name="supervisorFullName" [(ngModel)]="data.supervisorFullName"
                #supervisorFullName="ngModel" />
              <span style="margin-left: 0; color: red;"
                *ngIf="supervisorFullName.invalid && (supervisorFullName.dirty || supervisorFullName.touched)">
                Обязательное поле </span>
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>Наименование банка</mat-label>
              <input matInput name="bankName" required [(ngModel)]="data.bankName" #bankName="ngModel" />
              <span style="margin-left: 0; color: red;"
                *ngIf="bankName.invalid && (bankName.dirty || bankName.touched)">Обязательное поле</span>
            </mat-form-field>
          </div>
        </div>


        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>ИНН</mat-label>
              <input type="text" required mask="999999999" matInput name="inn" [(ngModel)]="data.inn" maxlength="9"
                #inn="ngModel" />
              <span style="margin-left: 0; color: red;" *ngIf="inn.invalid && (inn.dirty || inn.touched)"> Обязательное
                поле </span>
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>ОКЭД</mat-label>
              <input type="text" required mask="99999" matInput name="oked" [(ngModel)]="data.oked" maxlength="5"
                #oked="ngModel" />
              <span style="margin-left: 0; color: red;" *ngIf="oked.invalid && (oked.dirty || oked.touched)">
                Обязательное поле </span>
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>МФО</mat-label>
              <input type="text" matInput required name="mfo" [(ngModel)]="data.mfo" mask="99999" maxlength="5"
                #mfo="ngModel" />
              <span style="margin-left: 0; color: red;" *ngIf="mfo.invalid && (mfo.dirty || mfo.touched)"> Обязательное
                поле </span>
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>DUNS номер</mat-label>
              <input type="text" matInput name="dunsNumber" [(ngModel)]="data.dunsNumber" mask="999999999"
                maxlength="9" />
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>IBAN номер</mat-label>
              <input type="text" matInput name="ibanNumber" [(ngModel)]="data.ibanNumber" mask="999999999"
                maxlength="9" />
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>Заметки</mat-label>
              <input matInput name="notes" [(ngModel)]="data.notes" />
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>Парол</mat-label>
              <input type="password" matInput name="password" [(ngModel)]="data.password" required
                #password="ngModel" />
              <span style="margin-left: 0; color: red;"
                *ngIf="password.invalid && (password.dirty || password.touched)"> Обязательное поле </span>
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>Телефон</mat-label>
              <input matInput type="text" name="phoneNumbers" mask="+999999999999" [(ngModel)]="data.phoneNumbers[0]"
                required #phoneNumbers="ngModel" />
              <mat-icon matSuffix *ngIf="!phone2" (click)="phone2 = true">add</mat-icon>
              <span style="margin-left: 0; color: red;"
                *ngIf="phoneNumbers.invalid && (phoneNumbers.dirty || phoneNumbers.touched)"> Обязательное поле </span>

            </mat-form-field>
          </div>

          <div class="dynamic-inputs" *ngIf="phone2">
            <mat-form-field class="form__input example-full-width">
              <mat-label>Телефон</mat-label>
              <input matInput type="text" name="phone2" mask="+999999999999" [(ngModel)]="data.phone2" />
              <mat-icon matSuffix (click)="phone2 = false">delete</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs">
            <mat-form-field class="form__input">
              <mat-label>Юридический адрес</mat-label>
              <input matInput required type="text" name="legalAddress" [(ngModel)]="data.legalAddress"
                #legalAddress="ngModel" />
              <mat-icon matSuffix *ngIf="!factAddressShow" (click)="factAddressShow = true">add</mat-icon>
              <span style="margin-left: 0; color: red;"
                *ngIf="legalAddress.invalid && (legalAddress.dirty || legalAddress.touched)"> Обязательное поле </span>
            </mat-form-field>
          </div>

          <div class="dynamic-inputs" *ngIf="factAddressShow">
            <mat-form-field class="form__input">
              <mat-label>Фактический адрес</mat-label>
              <input matInput type="text" name="factAddress" [(ngModel)]="data.factAddress" />
              <mat-icon matSuffix (click)="factAddressShow = false">delete</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div class="dynamic-inputs-wrapper">
          <div class="dynamic-inputs" style="align-items: center">
            <mat-form-field class="form__input">
              <mat-label>Расчетный счет</mat-label>
              <input required matInput type="number" name="bankAccounts" [(ngModel)]="data.bankAccounts"
                #bankAccounts="ngModel" mask="99999999999999999999" maxlength="20"/>
              <mat-icon matSuffix *ngIf="!bankAccountCurrency" (click)="bankAccountCurrency = true">add</mat-icon>
              <span style="margin-left: 0; color: red;"
                *ngIf="bankAccounts.invalid && (bankAccounts.dirty || bankAccounts.touched)"> Обязательное поле </span>
            </mat-form-field>
            <mat-select class="form__input" name="currency" [(ngModel)]="currency"
              style="width: 25%; margin-left: 10px">
              <mat-option *ngFor="let currency of currencies" value="{{ currency.id }}">{{ currency.name }}</mat-option>
            </mat-select>
          </div>

          <div class="dynamic-inputs" *ngIf="bankAccountCurrency">
            <mat-form-field class="form__input">
              <mat-label>Расчетный счет</mat-label>
              <input matInput type="number" name="bankAccountCurrency" [(ngModel)]="data.bankAccountCurrency"
                mask="99999999999999999999" maxlength="20" />
              <mat-icon matSuffix (click)="bankAccountCurrency = false">delete</mat-icon>
            </mat-form-field>
            <mat-select class="form__input" name="currency2" [(ngModel)]="currency2"
              style="width: 25%; margin-left: 10px">
              <mat-option *ngFor="let currency of currencies" value="{{ currency.id }}">{{ currency.name }}</mat-option>
            </mat-select>
          </div>
        </div>
        <div>

        </div>

        <div style="margin-left: 15px; width: 100%">
          <mat-form-field style="display: block">
            <mat-toolbar>
              <input matInput [value]="
                  selectedFileNames.length ? selectedFileNames : 'Логотип'
                " />
            </mat-toolbar>
            <input type="file" class="fileInput" name="logo" [(ngModel)]="data.logo" accept="image/*"
              (change)="selectFile($event, 'logo')" />
            <mat-icon matSuffix>file_download</mat-icon>
          </mat-form-field>
        </div>

        <div style="margin-left: 15px; width: 100%">
          <mat-form-field style="display: block">
            <mat-toolbar>
              <input matInput [value]="
                  certificateNames.length
                    ? certificateNames
                    : 'Свидетельство о регистрации'
                " />
            </mat-toolbar>

            <input type="file" class="fileInput" name="certificate_registration"
              [(ngModel)]="data.certificate_registration" accept="image/*"
              (change)="selectFile($event, 'certificate_registration')" />
            <mat-icon matSuffix>file_download</mat-icon>
          </mat-form-field>
        </div>

        <div style="margin-left: 15px; width: 100%">
          <mat-form-field style="display: block">
            <mat-toolbar>
              <input matInput [value]="
                  passportNames.length ? passportNames : 'Паспорт руководителя'
                " />
            </mat-toolbar>

            <input type="file" class="fileInput" name="supervisor_passport" [(ngModel)]="data.supervisor_passport"
              accept="image/*" (change)="selectFile($event, 'supervisor_passport')" />
            <mat-icon matSuffix>file_download</mat-icon>
          </mat-form-field>
        </div> 
       <button [disabled]="!form.valid" style="margin: 20px auto" class="auth__btn btn-green"
          (click)="createMerchant()">
          Завершить
        </button> 
       </div>  -->
    </form>
  </div>
</main>

<main *ngIf="formDone" class="auth">
  <div class="auth__form form">
    <div class="form-done">
      <div style="text-align: center">
        <mat-icon matSuffix>check_circle_outline</mat-icon>
        <h2 class="title">Ваша заявка принята на обработку</h2>
        <p>Ответ придет к вам на почту</p>
        <button class="btn-green" routerLink="/auth">На главную</button>
      </div>
    </div>
  </div>
</main>