<main class="auth" *ngIf="!authService.isAuthenticated() && !formDone">
  <div class="auth__form form">
    <p>Merchant</p>
    <img src="/assets/img/logo.svg" class="auth__logo" alt="Картинка" />

    <form #form="ngForm">
      <!-- 1 STEP -->
      <!-- <div class="dynamic-inputs-wrapper" style="margin: 0 auto;" *ngIf="!registrationStart">
        <div class="dynamic-inputs" style="gap: 10px; align-items: baseline;">
          <mat-select class="form__input" style="width: 25%; margin-left: 10px;" name="countryCode"
            [(ngModel)]="countryCode" (ngModelChange)="changedCountry($event)">
            <mat-option *ngFor="let country of countrCodes" [value]="country">
              {{ country.country }}
            </mat-option>
          </mat-select>
          <div *ngIf="countryCode" style="height: 50px;">{{ countryCode.code }}</div>

          <mat-form-field class="form__input">
            <mat-label>Телефон</mat-label>
            <input matInput type="number" name="phone" [(ngModel)]="phone" required #phoneNumbers="ngModel" required />
          </mat-form-field>
        </div>
      </div> -->

      <!-- <div class="dynamic-inputs-wrapper" style="margin: 0 auto;" *ngIf="startVerficationCode && !registrationStart">
        <div class="dynamic-inputs" style="gap: 10px; align-items: baseline;">
          <mat-form-field class="form__input">
            <mat-label>Введите код</mat-label>
            <input matInput type="number" name="verifyCode" [(ngModel)]="verifyCode" required required />
          </mat-form-field>
        </div>
      </div> -->


      <div class="dynamic-inputs-wrapper input-tel" style="margin: 0 auto" *ngIf="!registrationStart">
        <mat-form-field class="form__input">
          <mat-label>Телефон</mat-label>
          <ngx-mat-intl-tel-input class="w-full" [disabled]="startVerficationCode && !registrationStart" [preferredCountries]="['uz']"
            [onlyCountries]="['uz','kz','tj','kg','ru','af']" name="phone" [(ngModel)]="phone" #phoneNumbers="ngModel">
          </ngx-mat-intl-tel-input>
        </mat-form-field>
      </div>

      <div class="dynamic-inputs-wrapper" style="margin: 0 auto;" *ngIf="startVerficationCode && !registrationStart">
        <div class="dynamic-inputs" style="margin-left: 0 !important;">
          <code-input [isCodeHidden]="false" [codeLength]="6" (codeChanged)="onCodeChanged($event)" (codeCompleted)="onCodeCompleted($event)"></code-input>
        </div>
      </div>

      
      <button *ngIf="!startVerficationCode" [disabled]=" loading" (click)="sendSms()" style="margin: 20px auto"
        class="auth__btn btn-green">
        Отправить код
      </button>
      <button [disabled]="!codeEntered || loading" *ngIf="startVerficationCode && !registrationStart" (click)="startRegistr()"
        style="margin: 20px auto" class="auth__btn btn-green">
        Продолжить
      </button>
      <!-- 1 STEP -->

      <!-- 2 STEP -->
      <div class="dynamic-inputs-wrapper" style="margin: 0 auto;display: flex;"
        *ngIf="startVerficationCode && registrationStart">
        <div class="dynamic-inputs-wrapper" style="margin: 0 auto; width: 25%">
          <div class="dynamic-inputs" style="gap: 10px; align-items: baseline;">
            <mat-form-field class="form__input">
              <!-- <mat-label>Пр.форма</mat-label> -->
              <mat-select name="companyType" [(ngModel)]="data.companyType" required>
                <mat-option value="ИП">ИП</mat-option>
                <mat-option value="ООО">ООО</mat-option>
                <mat-option value="АО">АО</mat-option>
                <mat-option value="ОАО">ОАО</mat-option>
                <mat-option value="ЗАО">ЗАО</mat-option>
                <mat-option value="АК">АК</mat-option>
                <mat-option value="ПК">ПК</mat-option>
                <mat-option value="НКО">НКО</mat-option>
                <mat-option value="ПК">ПК</mat-option>
                <mat-option value="ГП">ГП</mat-option>
                <mat-option value="МП">МП</mat-option>
                <mat-option value="УП">УП</mat-option>
                <mat-option value="ГУП">ГУП</mat-option>
                <mat-option value="">Другой</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="dynamic-inputs-wrapper" style="margin: 0 auto; width: 75%;">
          <div class="dynamic-inputs" style="gap: 10px; align-items: baseline;">
            <mat-form-field class="form__input">
              <mat-label>Наименование фирмы</mat-label>
              <input matInput type="text" name="companyName" [(ngModel)]="data.companyName" required />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="dynamic-inputs-wrapper" style="margin: 0 auto;" *ngIf="startVerficationCode && registrationStart">
        <div class="dynamic-inputs" style="gap: 10px; align-items: baseline;">
          <mat-form-field class="form__input">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" [(ngModel)]="data.email" required />
          </mat-form-field>
        </div>
      </div>

      <div class="dynamic-inputs-wrapper" style="margin: 0 auto;" *ngIf="startVerficationCode && registrationStart">
        <div class="dynamic-inputs" style="gap: 10px; align-items: baseline;">
          <mat-form-field class="form__input">
            <mat-label>Создать пароль</mat-label>
            <input matInput type="{{ showPassword ? 'text' : 'password' }}" name="password" [(ngModel)]="data.password"
              required />
            <button mat-icon-button matSuffix (click)="toggleShowPassword()">
              <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>

      <div class="dynamic-inputs-wrapper" style="margin: 0 auto;" *ngIf="startVerficationCode && registrationStart">
        <div class="dynamic-inputs" style="gap: 10px; align-items: baseline;">
          <mat-form-field class="form__input">
            <mat-label>Подтвердите пароль</mat-label>
            <input matInput type="{{ showPassword ? 'text' : 'password' }}" name="confirmCode"
              [(ngModel)]="data.confirmCode" required />
            <button mat-icon-button matSuffix (click)="toggleShowPassword()">
              <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>

      <button *ngIf="startVerficationCode && registrationStart" [disabled]="!form.valid" (click)="createMerchant()"
        style="margin: 20px auto" class="auth__btn btn-green">
        Сохранить
      </button>

    </form>
  </div>
</main>

<main *ngIf="formDone" class="auth">
  <div class="auth__form form">
    <div class="form-done">
      <div style="text-align: center">
        <mat-icon matSuffix>check_circle_outline</mat-icon>
        <h2 class="title">Ваша заявка принята на обработку</h2>
        <p>Ответ придет к вам на почту</p>
        <button class="btn-green" routerLink="/auth">На главную</button>
      </div>
    </div>
  </div>
</main>