@import "base";

.auth {
  height: 100vh;
  &__logo {
    width: rem(300);
    margin: 0 auto rem(40) auto;
  }
  &__form {
    width: 80%;
    background: #fff;
    padding: rem(30) rem(15);
    display: grid;
    margin: 0 auto;
    .form-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .form {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
      }
      .form-file {
        width: 30%;
      }
    }
    p {
      font-weight: 700;
      width: 100%;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 15px;
    }
  }
  &__btn {
    justify-self: end;
    padding: 0 rem(20);
    margin-top: rem(20);
  }
  .auth-helper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .dynamic-inputs-wrapper {
    display: block;
    width: 50%;
    .dynamic-inputs {
      display: flex;
    }
    div {
      margin-left: 10px;
    }
  }
}

.form__input {
  width: 100%;
}

.mat-input-element {
  font-size: medium;
  font-weight: 200;
}

.fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
}

.mat-toolbar-single-row button {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}


.auth {
  position: fixed;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: $mainColor;
  ::-webkit-scrollbar {
    display: none;
  }
  &__form {
    overflow: auto;
    max-width: rem(800);
    width: 100%;
    border-radius: rem(5);
    background: #fff;
    padding: rem(30) rem(15);
    display: grid;
    .form-done {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      .title {
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      mat-icon {
        color: #2bcd50;
        font-size: 90px;
        height: 90px;
        width: 90px;
      }
      button {
        margin: auto;
      }
    }
  }
}
input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
