<main class="drivers">
    <section class="page-header">
        <div class="page-header__top">
            <h2 class="page-header__title title">Маршруты</h2>
            <div class="page-header__actions">
                <a class="page-header__btn btn-green">
                    Добавить
                </a>
            </div>
        </div>
    </section>
    <!--<section class="pagging">
       <ul class="pagging__list">
          <li class="pagging__item">
             <button class="pagging__button pagging__prev">
                <i class="icm-chevron"></i>
             </button>
          </li>
          <li class="pagging__item">
             <button class="pagging__button">1</button>
          </li>
          <li class="pagging__item">
             <button class="pagging__button">2</button>
          </li>
          <li class="pagging__item">
             <button class="pagging__button">3</button>
          </li>
          <li class="pagging__item">
             <button class="pagging__button pagging__next">
                <i class="icm-chevron"></i>
             </button>
          </li>
       </ul>
    </section>-->
</main>
