@use "@angular/material" as mat;

@include mat.core();

$tirgo-admin-primary: mat.define-palette(mat.$indigo-palette);
$tirgo-admin-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$tirgo-admin-warn: mat.define-palette(mat.$red-palette);

$tirgo-admin-theme: mat.define-light-theme(
   (
      color: (
         primary: $tirgo-admin-primary,
         accent: $tirgo-admin-accent,
         warn: $tirgo-admin-warn,
      ),
   )
);

@include mat.all-component-themes($tirgo-admin-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

@import "base";

// &display=swap
@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");

$fontFamily: "Inter";
$fontSize: rem(16);

@import "assets/scss/reset";

// @import "assets/scss/fonts";
@import "assets/scss/icons";

body {
   color: $mainColor;
   .lock & {
      overflow: auto;
      touch-action: auto;
      overscroll-behavior: auto;
   }
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: auto;

   #main {
      flex: 1 1 auto;
      padding: 0 0 0 rem(300);
      transition: all 0.2s ease 0s;
      @media (max-width: $tablet) {
         padding: rem(60) rem(0) rem(20) 0;
      }
   }
   > * {
      min-width: 0;
   }
}

[class*="__container"] {
   max-width: rem($containerWidth + $containerPadding);
   box-sizing: content-box;
   margin: 0 auto;
   padding: 0 calcFluid(30, 15);
}

@import "assets/scss/common/app.sidebar";
@import "assets/scss/common/app.header";
@import "assets/scss/common/page.header";
@import "assets/scss/common/page.form";
@import "assets/scss/common/view";

@import "assets/scss/common/title";
@import "assets/scss/common/dropdown";
@import "assets/scss/common/buttons";
@import "assets/scss/common/table";
@import "assets/scss/common/form";
@import "assets/scss/common/pagging";

.cdk-overlay-pane {
   @media (max-width: $mobileSmall) {
      width: 100%;
   }
}
.mat-form-field.fill-container textarea {
   height: calc(100% - 25px);
}
main{
   margin: 15px 15px 15px 30px;
   border-radius: 25px;
   //box-shadow: 0 0 20px 10px rgba(34, 60, 80, 0.2);
}
.custom-dialog-class{
   mat-dialog-container{
      .mat-mdc-dialog-surface{
         border-radius: 25px;
         box-shadow: 0 0 20px 10px rgba(34, 60, 80, 0.2);
         main{
            box-shadow:0 0 0 0!important;
            border-radius: 0;
            background: white;
         }
      }
   }
}
.tw-justify-between{
   align-items: center;
   span:last-child{
      font-weight: 700;
   }
}
.cursor-pointer{
   cursor: pointer;
}
.auth{
   margin: 0!important;
   border-radius:0!important;
}
.version{
   // position: absolute;
   // right: 0;
   // bottom: 0;
   margin: 15px 23px;
   color: grey;
}
.placemark-map-busy{
   min-width: 50px;
   max-width: 70px;
   width: 70px;
   //position: absolute;
   color: white;
   background: #cc3645;
   border-radius: 10px;
   padding: 5px;
   text-align: left;
   font-weight: bold;
   display: flex;
   flex-direction: row;
   align-items: center;
   pointer-events: none;
   box-shadow: 4px 7px 13px 4px rgba(34, 60, 80, 0.2);
   span{
      width: 100%;
      text-align: center;
      font-size: 1vw;
   }
   img{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 5px;
   }
}
.placemark-map-wait{
   min-width: 50px;
   max-width: 70px;
   width: 70px;
   //position: absolute;
   color: white;
   background: #ec8d06;
   border-radius: 10px;
   padding: 5px;
   text-align: left;
   font-weight: bold;
   display: flex;
   flex-direction: row;
   align-items: center;
   pointer-events: none;
   box-shadow: 4px 7px 13px 4px rgba(34, 60, 80, 0.2);
   span{
      width: 100%;
      text-align: center;
      font-size: 1vw;
   }
   img{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 5px;
   }
}
.placemark-map{
   min-width: 50px;
   max-width: 70px;
   width: 70px;
   //position: absolute;
   color: white;
   background: #2a9d45;
   border-radius: 10px;
   padding: 5px;
   text-align: left;
   font-weight: bold;
   display: flex;
   flex-direction: row;
   align-items: center;
   pointer-events: none;
   box-shadow: 4px 7px 13px 4px rgba(34, 60, 80, 0.2);
   span{
      width: 100%;
      text-align: center;
      font-size: 1vw;
   }
   img{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 5px;
   }
}
.loading{
   position: fixed;
   z-index: 999999999;
   width: 100%;
   height: 100vh;
   background: white;
   display: flex;
   align-items: center;
   justify-content: center;
}

.custom-confirm-dialog{
   overflow: hidden;
   border-radius: 10px !important;
   .mat-dialog-container{
      overflow: hidden;
      border-radius: 10px !important;
      .mat-mdc-dialog-surface{
         overflow: hidden;
         border-radius: 10px !important;
         box-shadow: 0 0 20px 10px rgba(34, 60, 80, 0.2);
      }
   }
}
.colorred{
   color: #d43636!important;
}
.input-edit-view{
   border: 1px solid grey;
   border-radius: 5px;
}
button:disabled,
button[disabled]{
   // border: 1px solid #999999;
   // background-color: #cccccc;
   // color: #666666;
   button:hover{
      background: none!important;
   }
}

.custom-table {
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
   .avatar{
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%;
   }
   tr{
      cursor: pointer;
   }
   td{
      color: black;
   }
}

.custom-table td, .custom-table th {
   position: sticky;
   border: 1px solid #ddd;
   padding: 8px;
}
.custom-table tr:nth-child(even){background-color: #f2f2f2;}

.custom-table tr:hover {background-color: #ddd;}

.custom-table th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #ef7903;
   color: white;
}
.custom-table-pagination {
   display: inline-block;
   width: 100%;
   text-align: right;
   margin-top: 15px;
   a{
      cursor: pointer;
   }
}

.loading-scroll{
   width: 100%;
   text-align: center;
   margin-top: 15px;
   color: #ef7903;
   font-weight: 700;
}
.custom-table-pagination a {
   color: black;
   padding: 8px 16px;
   text-decoration: none;
}
a{
   cursor: pointer;
}
.loading-global{
   background: #00000069;
   width: 100%;
   height: 100vh;
   position: fixed;
   z-index: 99999;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}
